:root {
  --content-slogan1: "\ea0b";
  --content-slogan2: "\ea0b";
}

@font-face {
  font-family: "icomoon";
  src: url("./../fonts/icomoon.eot?4nlm3l");
  src: url("./../fonts/icomoon.eot?4nlm3l#iefix") format("embedded-opentype"),
    url("./../fonts/icomoon.ttf?4nlm3l") format("truetype"),
    url("./../fonts/icomoon.woff?4nlm3l") format("woff"),
    url("./../fonts/icomoon.svg?4nlm3l#icomoon") format("svg");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url("./../img/fondo.jpeg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  font-family: "MS PGothic", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}


.background {
    position: absolute;
}
.contenedor {
  width: 700px;
  margin: 50px auto;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 600px;
  max-height: 800px;
}

.logo {
  border: 2px solid white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.logo img {
  width: 100px;
  height: 100px;
}

.separador {
  height: 50px;
  width: 2px;
  background: white;
  flex-grow: 1;
}

.cabecera {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: white;
  min-height: 180px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 0 50px;
}

.titulo {
  text-align: center;
  font-size: 4em;
  margin: 0 0 32px;
}

.titulo span {
  color: #d9d9d9;
}

.slogan1,
.slogan2 {
  display: flex;
  justify-content: center;
  font-size: 2em;
  padding: 0.3em;
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.slogan1-before::before,
.slogan1-after::before {
  content: var(--content-slogan1);
  margin: 0 24px;
}

.slogan2-before::before,
.slogan2-after::before {
  content: var(--content-slogan2);
  margin: 0 24px;
}

.slogan1-before,
.slogan1-after,
.slogan2-before,
.slogan2-after {
  display: block;
  font-family: icomoon;
  transition: transform ease 2s;
}

.slogan1:hover .slogan1-before,
.slogan1:hover .slogan1-after,
.slogan2:hover .slogan2-before,
.slogan2:hover .slogan2-after {
  transform: rotateY(-360deg);
}

.menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border: 2px solid white;
  border-radius: 10px;
}

.menu li {
  list-style: none;
  text-decoration: none;
  border-right: 2px solid white;
}

.menu li:last-child {
  border: none;
}

.menu label {
  display: block;
  color: white;
  cursor: pointer;
  text-decoration: none;
  width: 150px;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 700;
  padding: 1em 0;
  transition: 0.5s;
}

.menu label:hover {
  background: rgba(255, 255, 255, 0.2);
}

.menu input {
  display: none;
}

.pie {
  width: 100%;
  margin-bottom: 30px;
}

.pie small {
  display: block;
  text-align: center;
  color: white;
}

.pie a {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  padding: 3px;
}

.pie a:hover {
  background: rgba(255, 255, 255, 0.3);
}

/*-------Modal-------*/
.pre-modal {
  background: rgba(0, 0, 0, 0.6);
  height: auto;
  min-height: 100vh;
  width: 100%;
  padding: 30px 0;
  position: absolute;
  top: -400vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 640px;
  background: #24272b;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
  padding: 70px 50px;
  box-shadow: 0 0 20px black;
  position: relative;
}

.modal h2 {
  display: inline;
  border-bottom: 2px solid white;
  padding: 0.5em 0.3em;
}

.modal p {
  position: relative;
  top: 90px;
  margin: 0 0 90px 0;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

.cerrar-modal {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 50px;
  top: 70px;
  cursor: pointer;
}

.cerrar-modal:hover {
  opacity: 0.5;
}

.cerrar-modal::before {
  content: "";
  display: block;
  background: white;
  width: 2px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 13px;
  transform: rotate(45deg);
}

.cerrar-modal::after {
  content: "";
  display: block;
  background: white;
  width: 2px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 13px;
  transform: rotate(-45deg);
}

.cerrar-modal input {
  display: none;
}

.fondo-soy {
  background: url("./../img/soy.jpg");
}

.fondo-intereses {
  background: url("./../img/intereses.jpg");
}

.fondo-trabajos {
  background: url("./../img/trabajos.jpg");
}

.fondo-contacto {
  background: url("./../img/contacto.jpg");
}

.fondo-modal {
  width: 100%;
  height: 160px;
  margin: 0 auto;
  border-radius: 10px;
  background-position: center;
  background-size: 100%;
  position: relative;
  top: 50px;
  box-shadow: 0 0 10px black;
}

.lista-intereses {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0 0;
  margin: auto;
}

.lista-intereses li {
  letter-spacing: 0.1em;
  line-height: 1.5em;
  padding-left: 17px;
}

.formulario {
  padding-top: 30px;
}

.formulario label {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1em;
}

.info {
  background: transparent;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin: 5px 0;
  font-size: 1em;
  border: 2px solid white;
  color: white;
}

.formulario *:focus {
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}

.formulario textarea {
  background: transparent;
  border: 2px solid white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  width: 100%;
  color: white;
}

.enviar {
  display: block;
  background: white;
  border-radius: 10px;
  border: none;
  color: #24272b;
  width: 20%;
  padding: 10px;
  text-transform: uppercase;
  margin: 1em auto;
  font-weight: 700;
}

.enviar:hover {
  box-shadow: 0 0 3px white;
}

@media (max-width: 768px) {
  .contenedor {
    width: 90%;
  }

  .titulo {
    font-size: 2.5em;
  }

  .slogan1,
  .slogan2 {
    font-size: 1.2em;
  }

  .menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: 1px;
  }

  .menu li:nth-child(1) {
    border-bottom: 2px solid white;
  }

  .menu li:nth-child(2) {
    border-right: none;
    border-bottom: 2px solid white;
  }

  .cabecera {
    height: auto;
  }

  .modal {
    width: 95%;
  }
}
